/* .imagem-fundo-utilizador{
  background-size: cover;
/* } */
#containerCarrossel{
  background-color: white;
} 
.campos-docente{
  width: 100%;
  border-width: 10;
  border-color: black;
  /* background-color: red; */
  min-height: 220px;
  display: inline-block;
}
#docente-div{
width: 100%;
max-height: auto;
}
.card.col-lg-4{
  background-color: rgb(241, 105, 42);
  border: 1px solid rgb(226, 217, 213);
  color: black;
  font-size: 20px;
  font-weight: bold;
  max-height: auto;
}
.card.col-lg-4 > div > a{
  background-color: rgb(241, 105, 42);
}
.card.col-lg-4 > .card-header, .card.col-lg-4 > .card-body{
  background-color: white;
}
.searchbar-d{
  background: rgb(255, 255, 255);
  padding:20px;
  margin:0px 0px 100px 0px;
  box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.7);
  width: inherit;
}
.barraPesquisa{ /*Não tá a fazer piça nenhuma */
  width: 100%;
}
.card-img-top.h{
  position: relative;
  float: left;
  width:  100%;
  height: 300px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
.card-img-top.c{
  position: relative;
  float: left;
  width:  100%;
  height: 200px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
.iconNav{
  margin-right: 5px;
  color: rgb(241, 105, 42);
}
#Logoff{
  background: orange;
}
body {
    width: 100%;
    height: 100%;
    margin: 0; padding: 0;
    display: block;  
    background-color: #f8faf6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23ffa42c' fill-opacity='1' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  color: black;
  }
#MsgErroRegistar, #MsgErroLogin, #MsgErroRegistarEventos{ /*Para mexer nos dois ao mesmo tempo é só por a virgula no meio*/

  text-transform: uppercase;
  color: red;
}

/*adicionado pelo jabardoum aka 9170287*/
h1 {
    font-family:  'Source Sans Pro', sans-serif;;
    font-size: 56px;
    line-height: 80px;
}
      /*adicionado pelo jabardoum - part 2 (agora nos cinemas)*/
p {
    font-family: 'Source Sans Pro', sans-serif;;
    font-size: 16px;
    line-height: 25px;
}

/* p{
  text-align: justify;
} */

footer {
  padding: 10px;
  margin: 0;
  background: linear-gradient(90deg,  #f0e5e5 ,  #ffa42c);
  color: black;
}

#map{
    height: 200px;
    width: 100%;
}

#searchBar > div{
    margin: 0px !important;
    padding: 0 !important;
}

.card{
  border-radius: 5%;
}

.card-title, .btn-evento { /*hmmm... o botão não está a funcionar com isto mas o resto está*/
    text-align: center;
}

.linha-cards{
  margin: 10px 0px 10px 0px;
  width: 100% !important; 
}

/* Calendário */
#container-Calendario{
  margin: 0;
  padding: 0;
  
}
#calendario{
  width: 100%;
  box-shadow: 10px 10px 5px grey;
  margin-top: 60px;
}

thead th {
  background: rgba(252, 134, 0, 0.801);
  color: black;
}

.dias-semana > th{
  background-color: #ff950b;
}

tbody:nth-child(even) {background-color: white;}
tr:nth-child(even) {background-color: white;}
/* fim de calendário */

.mnac{
  font-size: small;
  margin: 0px;
}

#logobar {
  width: 50%;
  height:50%;
}
figure img {
  width: 90px;
  height:90px;
  border-radius: 50%;
}

.about img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.about p {
  text-align: center;
}
.desricao-card-carrosel{
  font-size: 12px;
  color: black;
  font-weight: bold;
  text-align: center;
}

/*Novas merdas Minhas*/
.lixinho{
  width: 32px;
  height:27px;
  background: inherit;
}
.pilasMaximus{
  text-align: center;
}
textarea{
  resize: vertical;
}
section#testemunhos > div.row{
  margin: 0px;
}
.cardsAdmin{
  border-width: 1px;
  border-color: black;
  background: inherit;
}
.cardsAdmin >div> a{
  text-decoration: none;
  color: #001124;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cardsAdminTitulo{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}
/* Dropdown Content (Hidden by Default) */
/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
  overflow: auto;
  width: 100%;
} */

/* Links inside the dropdown */
/* .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #f1f1f1} */

#pesquisarUtilizador {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */ 
  font-size: 16px; /* Increase font-size */
  border: 1px solid #ddd; /* Add a grey border */
}

#Cenas {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: auto;
}

#Cenas li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#Cenas li a:hover:not(.header) {
  background-color: grey; /* Add a hover effect to all links, except for headers */
}
/*###########################################################################################*/
/*Merdas do Miguel*/
/*Daqui*/
/* olha a navbar, que linda*/
#chupaAsMinhasTolas{
  background: linear-gradient(90deg,  rgba(0, 0, 255) ,  #ffa42c);
  box-shadow: 0 10px 10px 0 rgba(16, 50, 240, 0.2);
  border-radius: 0;
  position: sticky;
  border:0;
}
#linhaQueSepara{
  border: 0.5px solid #fff;
  cursor: default;
  margin-right: 10px;
}

#Login{
  color: white;
  margin: 0px 0px 0px 20px;
}

#Registar{
  color:white;
}

.nav-item{
  list-style-type: none;
  display: inline-block;
  line-height: 40 px;
  cursor: pointer;
  text-align: center;
}

.nav-link:nth-child(1){
  color: black;
}
/* #gandas botoes do navbar */
.nav-link {
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin:0 20px 0 20px;
}

/* Mudar a cor do hober ma wiggas */
.nav-link:hover {
  background-color: #ea9c00;
  color: white;
  animation-delay: 2ms;
}

/* Aqui, foi o jobem Michael*/
/*########################################################3*/

/*Usar esta merda para fazer o menu nos cards*/
.navbar-toggler-1 .navbar-toggler-icon{
  background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=000000');
  color: #001124;
}

button.navbar-toggler-1{ 
  margin: 0px;
  padding: 0px;
  border: 0;
  background-color: inherit;
}

.ordenhados{
  font-size: 14px;
  color: black;
}
.ordenhar{
  padding-left: 10px; 
}
/*Novas Merdas - Pedro*/
#eventimg {
  width: 100%;
}

.button-inscrever {
  width: 100%
}

.evento-dados {
  background-color: rgb(238, 238, 238);
}

.p-descricao {
  padding:20px;
}

.pessoas-inscritas {
  width: 50px !important;
  height:50px !important;
  border-radius: 50% !important;
}


.tags a{
  background-color:#756f5d;
  padding:10px; color:#fff;
  display:inline-block;
  font-size:11px;
  text-transform:uppercase;
  line-height:11px;
  border-radius:2px;
  margin-bottom:5px;
  margin-right:2px;
  text-decoration:none;
}

.searchbar-perfil{
  margin-left:12px;
} 

/*TESTE*/

.comment-box {
  margin-top: 30px !important;
}

.comment-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%
}
.comment-box .media-left {
  padding-right: 10px;
  width: 65px;
}
.comment-box .media-body p {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 15px;
}
.comment-box .media-body .media p {
  margin-bottom: 0;
  
}
.comment-box .media-heading {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 7px 10px;
  position: relative;
  margin-bottom: -1px;
  font-size: 15px;
}
.comment-box .media-heading:before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  left: -6px;
}
/*Mais cenas Perro*/
/* NOOOOOOOOOOVO */
.btn-yellow{
  color:white;
}
.btn-grey{
background-color:#D8D8D8;
color:#FFF;
}

.btn-orange{
  color: white;
  background-color: rgb(255, 202, 103);
}

.profile {
  margin: 20px 0;
}

.card-img-top.v{
    position: relative;
    float: left;
    width:  100%;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  max-height: auto;
}

.profile-userpic img {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: 0 auto !important; 
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;

}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-type {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}


/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
/*Mais merdas do pedro*/
.fa-1x {
  font-size: 2.0rem;
  color:#ea9c00;

}

.parcerias-list {
  list-style: none;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}
.parcerias-list > li {
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.7);
  padding: 0px;
  margin: 0px 0px 25px;
}

.parcerias-list > li > .parc {
  padding-top: 5px;
  text-align: center;
}
.parcerias-list > li > .parc > .title {
  font-size: 17pt;
  font-weight: 700;
  margin: 0px;
}
.parcerias-list > li > .parc > .loc {
  font-size: 13pt;
  font-weight: 300;
  margin: 0px;
}
.parcerias-list > li > .parc > ul
{
  display: table;
  list-style: none;
  margin: 10px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.parcerias-list > li > .parc > ul > li
{
  display: table-cell;
  cursor: pointer;
  color: rgb(30, 30, 30);
  font-size: 11pt;
  font-weight: 300;
  padding: 3px 0px;
}
  .parcerias-list > li > .parc > ul > li > a {
  display: block;
  width: 100%;
  color: rgb(0, 0, 0);
  text-decoration: none;
} 


.parcerias-list > li > .parc > ul > li:hover{
  color: rgb(30, 30, 30);
  background-color:rgb(255, 187, 0);
}

@media (min-width: 144px) {
  .parcerias-list > li {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px;
  }

  .parcerias-list > li > .parc {
    overflow: hidden;
    background: linear-gradient(to left, rgba(255,0,0,0), rgb(255, 173, 97));
  }

  .parcerias-list > li > .parc {
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 40px;
  }	
  .parcerias-list > li > .parc > .title, 
  .parcerias-list > li > .parc > .loc {
    padding: 0px 10px;
  }
  .parcerias-list > li > .parc > ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }

}
.parcerias-list > li{
  width: auto ;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/


/*TESTE*/

/*-----------------------------------------------------------------------------------------------------------------------------*/


/*Que não está a funcionar*/
/*CAROUSEl*/
@media (min-width: 100px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
/* &&&&&&&&&&&&&&&&&& FIM DE CAROUSEL &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
 /*.active > div { display:none; }
 .active > div:first-child { display:block; }*/

/*xs*/

.red {background: red;}

.blue {background: blue;}

.green {background: green;}

.yellow {background: yellow;}









/*Merdas que já não são usadas*/
/* @media (max-width: 767px){
    .carousel .row .span3 {
    display: block;
    float: left;
    width: 25%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
} */